* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: #2C3A47;
}

// components
@import 'app';
@import 'search';
@import 'movies';
@import 'movie';
@import 'modal';
